vim/.vim/bundle/*
vim/.vim/view
vim/.vim/.netrwhist
vim/.vim/autoload
vim/.vim/session
vim/.config/nvim/.netrwhist

zsh/cache

iterm2/.config/iterm2/AppSupport

# gh CLI
!gh/.config/gh/config.yml
gh/.config/gh/*

.luarc.json

zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_history

# hammerspoon - ignore spoons and overrides
!hammerspoon/.hammerspoon/Spoons/SpoonInstall.spoon/
hammerspoon/.hammerspoon/Spoons/*
hammerspoon/.hammerspoon/overrides.lua
