vim/.vim/bundle/*
vim/.vim/view
vim/.vim/.netrwhist
vim/.vim/autoload
vim/.vim/session
vim/.config/nvim/.netrwhist
!hammerspoon/.hammerspoon/Spoons/SpoonInstall.spoon/
hammerspoon/.hammerspoon/Spoons/*

**/packer_compiled.lua

zsh/cache

iterm2/.config/iterm2/AppSupport

